@page "/"

<h1>Bienvenido a la Aplicación de Series y Personajes</h1>

<p>Esta aplicación te permite gestionar series y sus personajes asociados.</p>

<div class="row mt-4">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Series</h5>
                <p class="card-text">Gestiona tus series favoritas.</p>
                <a href="/series" class="btn btn-primary">Ver Series</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Personajes</h5>
                <p class="card-text">Gestiona los personajes de tus series.</p>
                <a href="/personajes" class="btn btn-primary">Ver Personajes</a>
            </div>
        </div>
    </div>
</div>